<div class="wrapper">
  <div id="fullpage">
    <div
      class="section section-header section-plain section-first"
      id="section0"
    >
      <div class="parallax">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="content">
                <div class="home">
                  <p id="txtcolor">
                    <span id="txtcolor">Bill </span>payment system
                  </p>
                  <h1>Pay.Up</h1>
                  <div class="separator-container">
                    <div class="separator line-separator">✻</div>
                  </div>

                  <h5 id="txtcolor">
                    A platform to pay your bills for all of your services.
                    <br />
                    Secure money transfer with innovative design for <br />
                    All of your requirements
                  </h5>
                </div>
              </div>
            </div>
          </div>
          <div class="west">
            <div class="row">
              <div class="col-6">
                <a routerLink="/login"><h4 class="login">Login</h4></a>
              </div>
              <div class="col-6">
                <a routerLink="/signup"> <h4 class="signup">Signup</h4></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
